{% extends 'layout/menu.html.twig' %}

{% import 'macro/form.html.twig' as form %}

{% block content %}
<section class="page__content bg-white box__shadow">
	<div class="breadcrumbs__wrap">
		<span class="breadcrumbs__item">Dokumenty</span>
	</div>
	<div class="section">
		<table class="table">
			<thead>
				<tr>
					<th>Název</th>
					<th>Platnost od</th>
					<th>Platnost do</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="/file/download/37" title="Všeobecné obchodní podmínky" download>Všeobecné obchodní podmínky</a></td>
					<td>1.12.2018</td>
					<td>-</td>
				</tr>
				<!-- <tr>
					<td><a href="/file/download/38" title="Návod na použití aplikace finette" download>Návod na použití aplikace finette</a></td>
					<td>15.4.2019</td>
					<td>-</td>
				</tr> -->
			</tbody>
		</table>
	</div>
</section>
{% endblock %}
