{% extends 'layout/no_menu.html.twig' %}

{% block content %}
<section class="layout__box-wrap">
  <div class="layout__box-content text-center">
    <div class="layout__box-img">
      <img src="/assets/img/logo{{ subdom }}.svg" alt="Finettte s.r.o." />
    </div>
    <h1 class="layout__box-title">Pozvánka neaktivní</h2>
    <p class="m-0 p-0">Tato pozvánka již není platná.</p>
  </div>
</section>
{% endblock %}
