{% import 'macro/form.html.twig' as form %}

{# {% macro radiobutton(title, group, name, value, checked = false) %} #}

<div class="modal__content-heading">
	<span class="modal__content-title">Zvolte typ identity</span>
</div>
<form action="/user/ajax_identity_type" data-name="user_identity_type" novalidate>
	<div class="modal__content-text">
		<div class="d-block d-md-flex">
			{# TODO: dodat do macra #}
			{#<div>{{ form.radiobutton('Fyzická osoba', 'type', 'individual', '0') }}</div>#}
			<div>
				<div class="form__input-wrap no-border-wrap">
					<input type="radio" name="type" value="0" id="individual" class="form__input" {% if not allowIndividual %}disabled{% endif %}>
					<label class="form__radio-label" for="individual">Fyzická osoba</label>
					<svg width="12" height="12" viewBox="-1 -1 10 10" version="1" svg="" xmlns="http://www.w3.org/2000/svg">
						<g>
							<circle cx="4" cy="4" r="4" stroke-width="1"></circle>
						</g>
					</svg>
					<span data-validate data-invalid-type="empty" class="error__msg-wrap">Musíte vybrat typ</span>
				</div>
			</div>
			<div class="ml-0 ml-md-4">{{ form.radiobutton('Právnická osoba', 'type', 'entity', '1') }}</div>
		</div>
		{#  <input type="radio" name="type" value="0"><label>Fyzická osoba</label>
		<input type="radio" name="type" value="1"><label>Právnická osoba</label> #}
	</div>
	<div class="modal__content-footer">
		<a href="#" class="btn modal__button--cancel">Zrušit</a>
		{{ form.submit('Vybrat', 'Vybírám...') }}
	</div>
</form>
