{# <div class="modal__overlay">
  <div class="modal__wrap">
    <div class="modal__content-wrap"></div>
    <div class="modal__content-wrap">
      <div class="modal__content-heading">
        <span class="modal__content-title"></span>
      </div>
      <div class="modal__content-text">
      </div>
      <div class="modal__content-footer">
        <button class="btn">Cancel</button>
        <button class="btn btn-colored primary-bg">Ok</button>
      </div>
    </div>
  </div>
</div> #}

<div class="modal__overlay">
  <div class="modal__wrap">
    <div class="modal__content-wrap modal__content-wrap--custom"></div>
    <div class="modal__content-wrap modal__content-wrap--default">
      <div class="modal__content-heading">
        <span class="modal__content-title"></span>
      </div>
      <div class="modal__content-text"></div>
      <div class="modal__content-footer">
        <button class="btn modal__button--cancel">Zrušit</button>
        <button class="btn btn-colored primary-bg modal__button--confirm">OK</button>
      </div>
    </div>
  </div>
</div>