{# <nav class="navigation horizontal-navigation colored-navigation progress-navigation order__nav bg-white mb-4">
  <a href="/order/term" title="Termín platby" class="navigation__link">Termín platby</a>
  <a href="/order/pcs" title="Množství" class="navigation__link">Množství</a>
  <a href="/order/profile" title="Profil" class="navigation__link">Profil</a>
  <a href="/order/bank" title="Bankovní spojení" class="navigation__link">Bankovní spojení</a>
  <a href="/order/summary" title="Shrnutí" class="navigation__link">Shrnutí</a>
</nav> #}
<nav class="breadcrumbs__wrap order__navigation">
  <span class="breadcrumbs__item navigation__link">Objednávka</span>
   <a href="/order/term" title="Termín platby" class="breadcrumbs__item navigation__link"><span>Termín platby</span></a>
  <a href="/order/pcs" title="Množství" class="breadcrumbs__item navigation__link"><span>Množství</span></a>
  <a href="/order/profile" title="Profil" class="breadcrumbs__item navigation__link"><span>Profil</span></a>
  <a href="/order/bank" title="Bankovní spojení" class="breadcrumbs__item navigation__link"><span>Bankovní spojení</span></a>
  <a href="/order/summary" title="Shrnutí" class="breadcrumbs__item navigation__link"><span>Shrnutí</span></a>
</nav>