{% extends 'layout/base.html.twig' %}

{% block layout %}
<main>
    {% block content %}{% endblock %}
</main>
{% endblock %}
{% block javascript %}
    {% block pageJavascript %}{% endblock %}
{% endblock %}

